body {
    background: #c00;
    color: white;
    font-size: 18px;
    line-height: 1em;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 6em;
    line-height: .8em;
}

.container {
    width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;


    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: white;
    }
}