/*
font-family: 'Rum Raisin', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
*/
body{background:#ba250e;color:#fff;font-size:18px;line-height:1em;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif}h1{font-family:'Yanone Kaffeesatz','Helvetica Neue',Arial,Helvetica,sans-serif;font-size:6em;line-height:.8em}.container{width:1000px;margin:auto}a{text-decoration:none;color:#fff}a:hover{text-decoration:underline}a:visited{color:#fff}